.analysis-container {
    display: grid;
    grid-template-columns: auto var(--sidebar-width);
    column-gap: 10px;
    height: calc(100vh - var(--top-container-height));
    box-sizing: border-box;
    align-items: start; /* Align children to the top instead of center */
  }
  
  .main-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--players-height) 1fr var(--players-height);
    /* justify-items: left; */
    height: calc(100vh - var(--top-container-height));
    width: calc(var(--evalbar-width) + var(--max-board-size));
    box-sizing: border-box;
  }

  .evalbar-board-container{
    grid-column: var(--chess-board-start-col) / var(--chess-board-end-col);
    grid-row: 2/-2;
    display:flex;
    gap: var(--board-gap);
  }

  .evalbar {
    grid-column: var(--chess-board-start-col) / var(--chess-board-end-col);
    grid-row: 2 / -2;
    height: var(--max-board-size);
    width: var(--evalbar-width);
  }
  
  .top-name, .bottom-name {
    grid-column: var(--chess-board-start-col) / var(--chess-board-end-col);
    margin-left: calc(var(--evalbar-width) + var(--board-gap)); 
    height: var(--players-height);
    width: var(--max-board-size);
    text-align: right;
    box-sizing: border-box;
    padding: 0;
  }

    .top-name {
        grid-row: 1 / 2;
    }

    .bottom-name {
        grid-row: -2 / -1;
    }

  .board-wrapper {
    width: 100%;
    height: var(--max-board-size);
    width: var(--max-board-size);
    aspect-ratio: 1 / 1;
  }
  
  .board {
    width: 100%;
    height: 100%;
  }
  
  .sidebar {
    /* background-color: #a0c4ff; */
    overflow: auto;
    height: var(--board-container-height);
    width: 300px;
    box-sizing: border-box;
  }

  @media (max-width: 768px) {
    .routes {
      display: none;
    }

    .sidebar {
      width: 100vw;
      height: 50vh;
    }

    .analysis-container {
      grid-template-columns: 1fr; /* only main content */
    }
  }

  @media (max-height: 400px) {
    .sidebar {
      display: none;
    }
  
    .analysis-container {
      grid-template-columns: 1fr; /* only main content */
    }
  }

  .evalbar-board-container, .board-wrapper, .board {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @media (max-width: 450px) {

    .body, .html{
      margin: 0;
      padding: 0;
    }

    .sidebar::-webkit-scrollbar {
      display: none;
    }

    .top-container {
      justify-content: left;
      width: 100dvw;
    }

    .top-bar {
      margin-left: 10px;
      justify-content: left;
    }

    .analysis-container {
      width: 100dvw;
      height: 100dvh;
      display: flex;
      flex-direction: column;
      justify-content: right;
    }
    
    .main-area {
      width: 100dvw;
      height: calc(95dvw - var(--evalbar-width) - var(--board-gap) + var(--players-height) * 2);
    }

    .evalbar-board-container {
      width: 100dvw;
      padding: 0;
      margin: 0;
      height: calc(95dvw - var(--evalbar-width) - var(--board-gap));
      justify-content: center;
      align-items: center;
    } 

    .board-wrapper, .board {
      width: calc(95dvw - var(--evalbar-width) - var(--board-gap));
      height: calc(95dvw - var(--evalbar-width) - var(--board-gap));
    }

    .top-name, .bottom-name  {
      margin: 0;
      width: 100dvw;
      display: flex;
      justify-content: center;
    }

    .player-names-wrapper {
      width: 95dvw;
    }

    .eval-bar {
      height: calc(95dvw - var(--evalbar-width) - var(--board-gap));
    }

    .left-menu-bar, .routes {
      display: none;
    }

    .move-history {
      height: calc(100dvh - var(--top-container-height) - 95dvw - var(--evalbar-width) - var(--board-gap));
    }

    .move-navigation {
      z-index: 100;
      margin-top: 30dvh;
      margin-bottom: 0;
      position: fixed;
    }
  }