.clock {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    text-align: center;
    border-radius: 5px;
    color: var(--text-color);
    transition: background-color 0.3s ease-in-out;
  }

  .active-turn {
    background-color: #ffff77; /* Highlight active player's clock */
    font-weight: bold;
  }