.eval-wrapper {
    height: 100%;
    width: var(--eval-bar-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .eval-container {
    height: 100%;
    width: 30px;
    border: 2px solid black;
    border-radius: 3px;
<<<<<<< Updated upstream
    background-color: white;
=======
    background-color: black;
>>>>>>> Stashed changes
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
<<<<<<< Updated upstream
  
  .black-bar {
    background-color: black;
=======

  .white-bar {
    background-color: white;
>>>>>>> Stashed changes
    width: 100%;
    transition: height 0.5s ease-in-out;
  }
  
  .eval-container.flipped {
    flex-direction: column-reverse;
  }
  
<<<<<<< Updated upstream
  .black-bar {
    background-color: black;
    width: 100%;
    transition: height 0.5s ease-in-out;
  }
=======
>>>>>>> Stashed changes
