.eval-wrapper {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
  }
  
  .eval-container {
    width: 30px;
    height: 80%;
    border: 2px solid black;
    border-radius: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .black-bar {
    background-color: black;
    width: 100%;
    transition: height 0.5s ease-in-out;
  }
  
  .eval-container.flipped {
    flex-direction: column-reverse;
  }
  
  .black-bar {
    background-color: black;
    width: 100%;
    transition: height 0.5s ease-in-out;
  }