.fen-container {
    display: flex;
    width: var(--max-board-size);
    height: 8%;
    align-items: center;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    gap: 3px;
  }
  
  .fen-label {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;
  }
  
  .fen-input {
    height: 90%;
    flex: 1;
    padding: 0 4px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
  }
  
  .fen-input:focus {
    border-color: #0066ff;
    box-shadow: 0 0 4px rgba(0, 102, 255, 0.3);
  }
  
  .fen-button {
    max-width: 65px;
    height: 90%;
    padding: 0 5px;
    background-color: var(--settings-color);
    color: var(--text-color);
    border:  1px solid #a3c7f3;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
  }
  
  .fen-button:hover {
    background-color: var(--settings-hover);
  }
  
  .fen-button:active {
    background-color: var(--settings-color);
    border:  1px solid #a3c7f3;
  }

  .green-tick {
    color: #28a745;
    font-size: 2rem;
    font-weight: bold;
  }

  .circle-tick {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #28a745;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
  }

  .circle-cross {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #dc3545;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }