.fen-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.fen-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
  width: var(--max-board-size);
  height: 30dvh;
  background-color: var(--background-color);
}

.fen-close {
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

.fen-input-form {
  width: 90%;
}

.fen-input {
  width: 100%;
  max-height: 40px;
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fen-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.fen-submit {
  background-color: var(--toggle-button-color);
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.fen-submit:hover {
  background-color: var(--toggle-button-color-hover); 
}
