.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  /* Toggle ON */
  input:checked + .slider {
    background-color: var(--toggle-button-color);
  }
  
  input:checked + .slider:before {
    transform: translateX(22px);
  }
  
  .toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: var(--background-color1); */
    border-radius: 5px;
    border: 1px solid var(--text-color);
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
  }
  
  .toggle-label {
    font-size: 16px;
    color: var(--text-color);
  }