
.top-bar {
    width: 95dvw; /* Ensure it spans full width */
    display: flex;
    align-items: center;
    justify-content: center; /* Center buttons horizontally */
    gap: 10px;
}

@media (max-width: 360px), (max-width: 450px) {
    .top-bar {
        gap: 5px;
    }
}

/* Top Bar with White and Subtle Grey */
.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--top-container-height);
    width: 100dvw;
    border-bottom: 1px solid var(--nav-bottum); /* Subtle border */
    box-shadow: 0px 2px 5px var(--nav-shadow); /* Soft shadow for depth */
}

.action-button {
    background: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 0.85rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Hover Effect */
.action-button:hover {
    background: var(--button-hover-color);
}

/* Active Button Click Effect */
.action-button:active {
    background: var(--button-hover-color);
    transform: scale(0.98);
}

.theme-toggle-btn {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .theme-toggle-btn:hover {
    background-color: var(--button-hover-color);
  }