  /* * {
    border: #dc0a0a solid 1px;
  } */

  .chessboard-container {
    display: grid;
    grid-template-columns: var(--max-board-size) calc(var(--square-size) * 2) 1fr;
    height: calc(100dvh - var(--top-container-height));
    width: 80dvw;
    gap: 10px;
    padding: 10px;
  }
  
  #chessboard {
    display: grid;
    grid-template-columns: repeat(8, var(--square-size));
    grid-template-rows: repeat(8, var(--square-size));
    border: 2px solid #9c9999;
    width: calc(var(--max-board-size) + 4px);
    height: calc(var(--max-board-size) + 4px);
    border-radius: 3px;
    aspect-ratio: 1;
  }
  
  .square {
    position: relative;
    width: var(--square-size);
    height: var(--square-size);
    display: flex;
    align-items: center;
  justify-content: center;
  }
  
  .dark {
    background-color: var(--global-dark-square);
  }
  
  .light {
    background-color: var(--global-light-square);
  }
  
  img {
    width: calc(var(--max-board-size) / 8);
    height: calc(var(--max-board-size) / 8);
    cursor: grab;
  }
  
  img:active {
    cursor: grabbing;
  }
  
  .palette {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    min-width: calc(var(--max-board-size) / 8);
    max-width: calc(var(--max-board-size) / 4);
    height: calc(6 * var(--square-size) + 4px);
    /* background-color: blueviolet; */
    border: 2px solid #9c9999;
    border-radius: 3px;
  }
  
  .palette img {
    width: calc(var(--max-board-size) / 8);
    height: calc(var(--max-board-size) / 8);
    cursor: grab;
    z-index: 100;
  }
  
  /**/
  .fen-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .fen-popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .fen-popup-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
  .palette-piece.selected {
    border: 2px solid #ff9800;
    border-radius: 4px;
    box-shadow: 0 0 6px #ff9800;
  }

  .rank-label {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 10px;
    color: #555;
    font-weight: bold;
  }
  
  /* .file-label {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 10px;
    color: #555;
    font-weight: bold;
  } */

  .file-label, .rank-label {
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    color: rgb(221, 170, 170);
    pointer-events: none;
  }

  .file-label {
    bottom:1px;
    right: 1px;
  }

  .rank-label {
    top:1px;
    left: 1px;
  }

  .square.light .file-label, .square.light .rank-label {
    color: var(--global-dark-square);
  }

  .square.dark .file-label, .square.dark .rank-label {
    color: var(--global-light-square);
  }

  .pieceimg {
    z-index: 100;
  }

  .castling {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 4px;
    gap: 3px;
  }

  