/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root {
  --background-color3: #6e6e6e;
  --background-color2: #a7a7a7;
  --background-color1: #cdcdcd;
  --background-color: #ffffff;
  --button-hover-color: #dddddd;
  --text-color: #000000;  
  --font-size: 1rem;
  --global-light-square: #FFF8EA;
  --global-dark-square: #9E7676;
  --winner-king-background: rgb(22, 202, 76);
  --loser-king-background: rgb(190, 55, 55);
  --nav-bottum: #E0E0E0; 
  --nav-shadow: rgba(0, 0, 0, 0.05);  
  --settings-color: #c3d8f1;
  --settings-hover: #a3c7f3;

  --dvh: 1vh;
  --evalbar-width: 30px;
  --sidebar-width: 250px;
  --players-height: 40px;
  --top-container-height: 6vh;
  --max-board-size: calc(100vh - var(--top-container-height)  - var(--players-height) * 2);
  --board-container-height: calc(var(--max-board-size) + 2 * var(--players-height));
  --chess-board-start-col: 1;
  --chess-board-end-col: -1;
  --board-gap: 5px;
}

.dark-theme {
  --background-color3: #bdbdbd;
  --background-color2: #999999;
  --background-color1: #6a6a6a;
  --background-color: #2b2b2b;
  --button-hover-color: #060606;
  --text-color: #ffffff;  
  --font-size: 1rem;
  --global-light-square: #DCD7C9;
  --global-dark-square: #A27B5C;
  --winner-king-background: rgb(22, 202, 76);
  --loser-king-background: rgb(190, 55, 55);
  --nav-bottum: #4f4f4f; 
  --nav-shadow: rgba(248, 248, 248, 0.05); 
  --settings-color: #0b3c78;
  --settings-hover: #042247;
}

html, body {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  overscroll-behavior: none;
  touch-action: pan-x pan-y;
    /* overflow: hidden; Prevents unwanted global scrolling */
  }

.invalid-move {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    animation: fadeOut 1s ease-in-out;
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  .game-over-overlay {
    position: fixed; /* Covers the entire screen */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Highest priority */
  }
  
  .game-over-message {
    background: var(--background-color);
    color: var(--text-color);
    padding: 20px 40px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
    text-align: center;
  }

  .restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #ff5722;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .restart-button:hover {
    background-color: #e64a19;
  }

  .routes {
    display: flex;
    flex-direction: column; /* Stack links vertically */
    width: 13%; /* Adjust as needed */
    padding: 10px;
    height: 100vh; /* Make it full height */
    position: fixed; /* Fix it to the left */
    top: 8%;
    gap: 10px;
    text-align: center;
  }
  
  .no-decoration {
    text-decoration: none; 
  } 
    
  .player-name {
    border-radius: 5px;
    padding: 0;
    font-weight: bold;
  }

  .white-player-name {
    color: white;
    background-color: #aaaaaa;
  }

  .black-player-name {
    color: black;
    background-color: #dddddd;
  }

  .player-names-wrapper {
    display: flex;
    justify-content: right; /* Push names to opposite ends */
    align-items: right;
    position: relative;
    height: var(--players-height);
    width: 100%;
  }

  .termination-msg {
    color: #0ac156;
    white-space: normal;     /* Allow text to wrap */
    word-wrap: break-word;   /* Break long words if needed */
    overflow-wrap: break-word;
    margin-bottom: 8px;      /* Optional: space between termination message and table */
    max-width: 90%; 
    font-size: 1.2rem;
    font-weight: bold;
  }

  .clickable {
    cursor: pointer;
  }

  #settings-button{
    background-color: var(--settings-color);
    border:  1px solid #a3c7f3;
  }

  #settings-button:hover{
    background-color: var(--settings-hover);
  }